<script type="text/javascript">
    var dataarr = <%= raw @dataarr %>
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TweenMax.min.js"></script>

<section class ="main-section">
  <div class="row">
    <div class="small-4 medium-6 large-8 columns">
      <h1 class="renew lighter-color-header"> RENEWABLE </h1>
      <h1 class="renew"> ENERGY CONSUMPTION</h1>
      <%=image_tag("logo.png", class: "logo")%>
      <h3 class="renew">Residential Sector</h3>
      <h5 class="renew small-text">UNITS: Quadrillion Btu</h5>

    </div>
  </div>

  <script type="text/javascript">
    var tl = new TimelineLite();
    tl.to('.logo', 0.5, {left:700})
    //.to('h1.renew.lighter-color-header', 2, {bottom:250})
    .from('h1.renew.lighter-color-header', 0.5, {scale:0.75, autoalpha:0})
    .from('h1.renew', 1, {scale:0.75, autoalpha:0})
  </script>


  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable(dataarr);

      var options = {
        backgroundColor: 'rgb(230,70,0)',
        title: 'Energy',
        vAxis: {title: 'Year',  titleTextStyle: {color: 'red'}}
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>

  <div class="row">
    <div class="small-4 medium-6 large-10 large-offset-1 columns">
      <div id="chart_div" style="width: 800px; height: 450px;"></div>
    </div>
  </div>
   <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <script type="text/javascript">
    (function(){
var app = angular.module('store',[ ]);
app.controller('StoreController', function(){
  this.product = gem;
});

var gem = {
  name: 'Dodecahedron',
  price: 2.95,
  descripton: 'kjasdjsahd',
}

})();
</script>
    <div ng-app>
      <div class="row">
        <div class="small-8 medium-10 large-8 large-offset-2 columns">

          <input type="text" ng-model="sometext"/>

          <h1 ng-show="sometext">Hello {{ "sometext" }}</h1>
        </div>
      </div>
       </div>

    <div ng-controller="StoreController as store">
      <h1>${{store.product.price}}</h1>
    </div>



     <div class="row">
  <div class="large-12 columns">
    <h2>Masonry &amp; Foundation 5</h2>
    <hr />
  </div>
    </div>

    <div class="row">
    <div id="container" class="large-12 columns transitions-enabled large-centered clearfix">
                <div class="box col2"><img src="http://www.placehold.it/225x140" /></div>
                <div class="box col2"><img src="http://www.placehold.it/210x160" /></div>
                <div class="box col2"><img src="http://www.placehold.it/310x280" /></div>
                <div class="box col2"><img src="http://www.placehold.it/200x115" /></div>
                <div class="box col2"><img src="http://www.placehold.it/200x150" /></div>
                <div class="box col2"><img src="http://www.placehold.it/200x130" /></div>
                <div class="box col2"><img src="http://www.placehold.it/200x350" /></div>
                <div class="box col2"><img src="http://www.placehold.it/200x130" /></div>
                <div class="box col2"><img src="http://www.placehold.it/200x130" /></div>
                <div class="box col2"><img src="http://www.placehold.it/200x170" /></div>
                <div class="box col2"><img src="http://www.placehold.it/200x140" /></div>
                <div class="box col2"><img src="http://www.placehold.it/200x110" /></div>
                <div class="box col2"><img src="http://www.placehold.it/200x300" /></div>
                <div class="box col2"><img src="http://www.placehold.it/200x130" /></div>
                <div class="box col2"><img src="http://www.placehold.it/200x180" /></div>
                <div class="box col2"><img src="http://www.placehold.it/300x140" /></div>
                <div class="box col2"><img src="http://www.placehold.it/260x180" /></div>
                <div class="box col2"><img src="http://www.placehold.it/200x135" /></div>
                <div class="box col2"><img src="http://www.placehold.it/240x110" /></div>
                <div class="box col2"><img src="http://www.placehold.it/200x180" /></div>
                <div class="box col2"><img src="http://www.placehold.it/200x150" /></div>
    <div class="box col2"><img src="http://www.placehold.it/200x120" /></div>
  </div><!--/container -->
    </div>






<%= javascript_include_tag 'jquery.masonary' %>
<script>
    var $container = $('#container');
    $container.imagesLoaded( function(){
        $container.masonry({
          itemSelector: '.box',
          isAnimated: !Modernizr.csstransitions,
          isFitWidth: true
     });
});
</script>

</section>
