<script type="text/javascript">
    var dataarr = <%= raw @dataarr %>
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TweenMax.min.js"></script>

<section class ="main-section">
  <div class="row">
    <div class="small-4 medium-6 large-12 columns">
      <h1 class="renew lighter-color-header"> RENEWABLE </h1>
      <h1 class="renew"> ENERGY CONSUMPTION</h1>
      <h3 class="renew">Residential Sector</h3>
      <h5 class="renew small-text">UNITS: Quadrillion Btu</h5>
      <br>
      <%@data["series"].each do|x|%>
        <%x["data"].each_with_index do|m, i|%>
          <% if m.first.split('Q').first.to_i > 2000 && m.first.split('Q').first.to_i < 2015 %>
            <% if m[1] > 0%>

            <%end%>
          <%end%>
        <%end%>
       <%end%>
    </div>
  </div>

  <script type="text/javascript">
    var tl = new TimelineLite();
    tl.to('h1.renew.lighter-color-header', 0.5, {scale:0.75, autoalpha:0})
    .from('h1.renew', 1, {scale:0.75, autoalpha:0})
  </script>


  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable(dataarr);
      var options = {
        backgroundColor: 'rgb(230,70,0)',
        title: 'Energy',
        vAxis: {title: 'Year',  titleTextStyle: {color: 'white'}}
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>

  <div class="row">
    <div class="small-8 medium-10 large-10 large-offset-1 columns">
      <div id="chart_div" style="width: 800px; height: 450px;"></div>
    </div>
  </div>
  <br>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<div ng-app>
  <div class="row">
    <div class="small-8 medium-10 large-8 large-offset-2 columns">

      <input type="text" ng-model="sometext"/>

      <h1 ng-show="sometext">Hello {{ "sometext" }}</h1>
    </div>
  </div>
</div>

</section>
