
.main-section{
background-color: #D0290F;
height:100%;
}

.bottle-section{
  background-color: #0d0d5e;
}

.bottle-font{
  color:white;
  font-family:'Lato';
   font-size:3em;
}

.renew{
  margin:10px;
  background-color:transparent;
  font-family:'Lato';
  font-size:3em;
  line-height:30px;
  color:#5A0E02;
}


.lighter-color-header{
  color:#FA922A;
  font-size:3em;
}

.lighter-color-header-bottle{
  font-family:'Lato';
  color:white;
  font-size:3em;
}

.top-bar{
  background-color:rgb(230, 70, 30);
}

.logo{
position:absolute;
}

.bottle-img{
position:relative;

}

.small-text{
font-size:1em;
color:#FA922A;
}



