
.main-section{
background-color: #D0290F;
height:100%;
}

.renew{
  margin:10px;
  background-color:transparent;
  font-family:'Lato';
  font-size:3em;
  line-height:30px;
  color:#5A0E02;
}


.lighter-color-header{
  color:#FA922A;
  font-size:3em;
}

.top-bar{
  background-color:rgb(230, 70, 30);
}

.logo{
position:absolute;
}

.small-text{
font-size:1em;
color:#FA922A;
}
.imagecontainer{
position:relative;
}
.sunimage {

}

h2 {
   position: absolute;
   top: 200px;
   left: 0;
   font-size:1em;
   color:white;
   z-index:100;
}

