.main-section{
background-color: #D0290F;
}

.renew{
  margin:10px;
  background-color:transparent;
  font-family:'Lato';
  font-size:3em;
  line-height:30px;
  color:#5A0E02;
}

.lighter-color-header{
  color:#FA922A;
  font-size:3em;
}

.top-bar{
  background-color:rgb(230, 70, 30);
}

.logo{
position:absolute;
}

